<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRASPASOS DE DATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TRASPASOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="titulo">Formulario ingreso de datos</div>
  <div class="contenido">
    <form [formGroup]="persona" (ngSubmit)="grabar()">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input formControlName="elRut"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input formControlName="elNombreCompleto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input formControlName="laEdad"></ion-input>
      </ion-item>
      <ion-button color="success" type="submit">Grabar</ion-button>
      <ion-button color="primary" routerLink="/ejemplo1">Listar</ion-button>
    </form>
  </div>

</ion-content>